<style>
#grid__block--{{-block.id}} {
    opacity: {{block.settings.opacity | times: 0.01}};
    background-color: {{block.settings.backgroundColor}};
}

#colorcode {};
</style>
<div id="grid__block--{{-block.id}}" class="grid__block grid__block--color">
</div>