<script defer src="/services/javascripts/currencies.js"></script>
<script defer src="https://static.boostertheme.co/?files=supportscreen,6.0/theme.6.0" onload="initTheme();"></script>
<script defer src="https://cdn.attn.tv/do/dtag.js"></script>
<script defer type='text/javascript' src='https://services.nofraud.com/js/14243/customer_code.js'></script>
<div class="coverSpinner"></div>
<script defer id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End-->

<script type="text/javascript">
    function lazyLoadCustomJs(url, isDefer = false) {var s = document.createElement('script'); s.type = 'text/javascript'; isDefer === true ? ( s.defer = true ) : ( s.async = true ); s.src = url; var x = document.getElementsByTagName('body')[0]; x.appendChild(s);}
</script>

