<div class="nav__submenu--mobile">
    {% for sub_link in link.links %}
        {%- unless sub_link.handle contains "sub-menu" -%}
        <span class="nav__link__holder">
            <a href="{{sub_link.url}}" class="nav__link {% if sub_link.active or sub_link.child_active %}nav__link--active{% endif %}">
                {% render 'header--link-elements', text: sub_link.title, textOnly: true %}
            </a><!--
            {% if sub_link.links.size > 0 %}
            {% assign ix = ix | append: '-' | append: forloop.index0 %}
                --><input type="checkbox" style="display: none" id="mobile-submenu-{{ix}}"><!--
                --><label class="mobile__submenu__toggle" for="mobile-submenu-{{ix}}"><i class="uil uil-plus"></i><i class="uil uil-minus"></i></label>
            {% render 'header--link-submenu--mobile', link: sub_link, ix: ix %}
            {% else %}
            -->
            {% endif %}
        </span>
        {% else %}
            {% if sub_link.links.size > 0 %}
                {% for grand_child_link in sub_link.links %}
                    <span class="nav__link__holder">
                        <a href="{{grand_child_link.url}}" class="nav__link {% if grand_child_link.active or grand_child_link.child_active %}nav__link--active{% endif %}">
                            {% render 'header--link-elements', text: grand_child_link.title, textOnly: true %}
                        </a>
                    </span>
                {% endfor %}
            {% endif %}
            
        {%- endunless -%}
    {% endfor %}
</div>