<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="24px" viewBox="0 0 25 24" version="1.1">
    <title>fb</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PDP_Option-Varient-carousel-" transform="translate(-1172.000000, -323.000000)">
            <g id="fb" transform="translate(1172.000000, 323.000000)">
                <ellipse id="Oval" stroke="#949494" cx="12.212766" cy="12" rx="11.712766" ry="11.5"/>
                <g id="svgexport-13" transform="translate(9.595745, 6.000000)" fill="#949494" fill-rule="nonzero">
                    <path d="M4.07076933,4.2001575 L4.07076933,2.94989125 C4.07076933,2.38571214 4.19166967,2.0998425 5.04071977,2.0998425 L6.10592502,2.0998425 L6.10592502,0 L4.32814051,0 C2.14964465,0 1.43111196,1.03054826 1.43111196,2.79915998 L1.43111196,4.2001575 L0,4.2001575 L0,6.3 L1.43111196,6.3 L1.43111196,12.6 L4.07076933,12.6 L4.07076933,6.3 L5.8645823,6.3 L6.10638298,4.2001575 L4.07122729,4.2001575 L4.07076933,4.2001575 Z" id="Path"/>
                </g>
            </g>
        </g>
    </g>
</svg>