<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="24px" viewBox="0 0 26 24" version="1.1">
    <title>twitter</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PDP_Option-Varient-carousel-" transform="translate(-1200.000000, -323.000000)">
            <g id="Group-51" transform="translate(1172.000000, 323.000000)">
                <g id="twitter" transform="translate(28.787234, 0.000000)">
                    <ellipse id="Oval" stroke="#949494" cx="12.212766" cy="12" rx="11.712766" ry="11.5"/>
                    <g id="svgexport-14" transform="translate(6.106383, 6.857143)" fill="#949494" fill-rule="nonzero">
                        <path d="M13.9574468,1.31558971 C13.4430806,1.53809274 12.8927514,1.68843262 12.3130839,1.75782026 C12.9113823,1.40765496 13.3591941,0.856952393 13.5732101,0.208163002 C13.0113522,0.535207053 12.3960121,0.76508731 11.7542371,0.887699275 C11.2131906,0.32128358 10.4559233,-0.000192153905 9.66317539,0 C8.90348593,0.000245346896 8.1750249,0.295560448 7.63810961,0.820953421 C7.10119431,1.34634639 6.79982563,2.05876062 6.80032778,2.80141035 C6.80032778,3.02113787 6.82398767,3.23531438 6.87414666,3.4402392 C4.57002196,3.32878682 2.42335924,2.26380163 0.971002199,0.511618274 C0.211678697,1.79301874 0.601275945,3.43065037 1.86108755,4.25299974 C1.38788959,4.24143514 0.944029915,4.11422447 0.559793178,3.90328605 L0.559793178,3.93797986 C0.559549743,5.27136177 1.52071239,6.4201322 2.85764244,6.6843426 C2.61173078,6.7493576 2.3581112,6.7823321 2.1033649,6.78241046 C1.91976409,6.78241046 1.73947567,6.76483226 1.56486563,6.73013844 C1.93976398,7.8713352 3.01538712,8.65326542 4.24127325,8.67576782 C3.0414442,9.59815816 1.51524893,10.0154684 0,9.83546655 C1.30389794,10.6651946 2.8269505,11.1053353 4.38275944,11.1020408 C9.65607742,11.1020408 12.5364334,6.83190697 12.5364334,3.12799483 C12.5364334,3.00679776 12.5335942,2.8851381 12.5274426,2.76671653 C13.0879928,2.369574 13.571736,1.87804103 13.9560272,1.31512713 L13.9574468,1.31558971 Z" id="Path"/>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>