<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="24px" viewBox="0 0 26 24" version="1.1">
    <title>pinterest</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PDP_Option-Varient-carousel-" transform="translate(-1229.000000, -323.000000)">
            <g id="Group-51" transform="translate(1172.000000, 323.000000)">
                <g id="pinterest" transform="translate(57.574468, 0.000000)">
                    <ellipse id="Oval" stroke="#949494" cx="12.212766" cy="12" rx="11.712766" ry="11.5"/>
                    <g id="pinterest-svgrepo-com" transform="translate(6.106383, 5.142857)" fill="#949494" fill-rule="nonzero">
                        <path d="M10.6288378,1.49321262 C9.55925906,0.53032428 8.07906266,0 6.46096184,0 C3.98924356,0 2.46901724,0.950138246 1.62896565,1.74716151 C0.593650622,2.72940267 0,4.03364067 0,5.32549854 C0,6.94752128 0.723482295,8.19247702 1.93503214,8.65563562 C2.01636661,8.68688474 2.09821701,8.70262314 2.17845894,8.70262314 C2.43405556,8.70262314 2.63657233,8.54577989 2.70673849,8.29422165 C2.74764852,8.14990081 2.84239711,7.79383732 2.88361063,7.63927088 C2.9718039,7.33403701 2.90054519,7.18721169 2.70819523,6.97464369 C2.35778932,6.58582271 2.19460444,6.12605085 2.19460444,5.52767863 C2.19460444,3.75032102 3.60587897,1.86137163 6.22154106,1.86137163 C8.29696622,1.86137163 9.58617834,2.96755624 9.58617834,4.74818675 C9.58617834,5.87184582 9.32809313,6.91245852 8.85929699,7.67846034 C8.53353421,8.21071991 7.96070279,8.84517945 7.0813193,8.84517945 C6.70105028,8.84517945 6.35944549,8.69869565 6.14390913,8.44329531 C5.9402998,8.20186883 5.87316851,7.89000378 5.95507961,7.56496173 C6.0475824,7.19771344 6.17374188,6.81464138 6.29583464,6.44431941 C6.51850294,5.76793824 6.72900142,5.12909585 6.72900142,4.61940509 C6.72900142,3.74761732 6.15747499,3.16182443 5.3069531,3.16182443 C4.22605435,3.16182443 3.379235,4.19133772 3.379235,5.5056221 C3.379235,6.15018496 3.56190373,6.63229794 3.6446039,6.817402 C3.50842935,7.35842726 2.69915132,10.5749803 2.54564767,11.1815206 C2.45687777,11.5355919 1.92219464,14.3321887 2.80719264,14.5551731 C3.80153694,14.8057067 4.69035887,12.0820245 4.7808283,11.7742577 C4.85415072,11.5239517 5.11068816,10.5774564 5.26789434,9.99564788 C5.74791949,10.4292365 6.52080944,10.7223749 7.27284985,10.7223749 C8.69058866,10.7223749 9.9655976,10.124088 10.8630386,9.03785388 C11.7334085,7.98426341 12.212766,6.51578256 12.212766,4.90312318 C12.212766,3.64240057 11.6353519,2.39949395 10.6288378,1.49321262 Z" id="Path"/>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>