{% comment %}
 Wishlist Hero Snippets -  V 1.0.0
{% endcomment %}{% assign wishlistHero = shop.metafields.wishlistHero %}
{% assign key = 'WishListHero_iconType' %}
{% assign wishlistHeroIconClass = 'wlh-icon-heart-empty' %}
{%- if wishlistHero.WishListHero_iconType -%}
 {% assign wishlistHeroIconClass = wishlistHero.WishListHero_iconType %}
{%- endif -%}
<!-- Wishlist Hero Header Icon -->
{% assign key = 'WishListHero_ShowHeaderIcon' %} {%- if wishlistHero.WishListHero_ShowHeaderIcon != 'false' -%}<a class="site-header__icon site-header__link wishlist-hero-header-icon " href="#hero-wishlist">
    <i aria-hidden="true" class="{{ wishlistHeroIconClass }} wlh-Icon" focusable="false" role="presentation" style="font-size: 23px;font-weight:900;padding-top: 3px;color:inherit;"></i>
</a> {%- endif -%}
<!-- end -->