<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta name="robots" content="noindex">
  {{content_for_header}}
</head>
<body>
    <div class="container">
        <main role="main">
        {{ content_for_layout }}
        </main>
    </div>
</body>
</html>
