
{% assign mobile = settings.cardMobile %}
{% if section.settings.cardDesktop == "default" %}
{% assign desktop = settings.cardDesktop %}
{% else %}
{% assign desktop = section.settings.cardDesktop %}
{% endif %}

<div class="row row__collection-list max-width">
{% paginate collections by section.settings.cardsPerPage %}
  {% for collection in collections %}
    <div class="col-{{mobile}} col-md-{{desktop}} card--holder">
    {% render 'collection-card' with collection as collection %}
    </div>
  {% endfor %}
  {% render 'pagination', paginate: paginate, type: 'links' %}
{% endpaginate%}
</div>

{% schema %}
{
    "name": "Collection List",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "cardDesktop",
            "label": "How many cards per row (Desktop)",
            "options": [
            {"value": "default", "label": "Global default"},
            {"value": "1-5", "label": "5"},
            {"value": "3", "label": "4"},
            {"value": "4", "label": "3"}
            ],
            "default": "default"
        },
        {
            "type": "range",
            "label": "How many cards per page",
            "id": "cardsPerPage",
            "default": 15,
            "min": 3,
            "max": 50,
            "step": 1
        }
    ]
}
{% endschema %}