<div class="row max-width unflex contact__form">
{% form 'contact' %} 
    {% if form.posted_successfully? %}
        <style>
        .contact__form h2 {
            margin-bottom: 24px;
        }

        .contact__form {
            text-align: center;
        }
        </style>
        <h2>{{'contact.page.success' | t}}</h2>
    {% endif %}
    {{ form.errors | default_errors }}
    {% unless form.posted_successfully? %}
        {% for block in section.blocks %}
            <div class="contact__block">
                {% render 'get-block', block: block, i: forloop.index %}
            </div>
        {% endfor %}
        <div class="contact__block">
        {% assign submitText = 'contact.buttons.submit' | t %}
        {% render 'submit-button', text: submitText, type: 'primary' %}
        </div> 
    {% else %}
    {% assign btc = 'contact.buttons.back_to_contact' | t %}
    {% render 'button', type: 'primary', text: btc, url: page.url, class: 'contact__back' %}
    {% endunless %}
{% endform %}
</div>

{% schema %}
{
    "name": "Contact form",
    "settings": [
        {
            "type" : "header",
            "content": "Instructions"
        },
        {
            "type": "paragraph",
            "content": "Fields marked with * MUST be included in order for the form to work."
        },
        {
            "type": "paragraph",
            "content": "Placeholder is the text that will be shown as an example input."
        },
        {
            "type": "paragraph",
            "content": "If a field is set as required, customers won't be able to submit the form without filling the input."
        }
    ],
    "blocks": [
        {
            "type": "contactFormEmail",
            "name": "Sender email field (*)",
            "settings": [
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "text",
                    "id": "placeholder",
                    "label": "Placeholder",
                    "default": "Example input"
                }
            ]
        },
        {
            "type": "contactFormText",
            "name": "Text field",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": "This field is required",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "text",
                    "id": "placeholder",
                    "label": "Placeholder",
                    "default": "Example input"
                },
                {
                    "type": "select",
                    "id": "type",
                    "label": "Field type",
                    "options": [
                        {"value": "text", "label": "Text"},
                        {"value": "date", "label": "Date"},
                        {"value": "email", "label": "E-mail"},
                        {"value": "number", "label": "Number"},
                        {"value": "tel", "label": "Phone"}
                    ]
                }
            ]
        },
        {
            "type": "contactFormTextarea",
            "name": "Textarea field",
            "settings": [
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": "This field is required",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "placeholder",
                    "label": "Placeholder",
                    "default": "Example input"
                }
            ]
        },
        {
            "type": "contactFormRadio",
            "name": "Radio button field",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": "This field is required",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "textarea",
                    "id": "options",
                    "label": "Options",
                    "default": "Option 1, Option 2, Option 3",
                    "info": "Comma separated options."
                }
            ]
        },
        {
            "type": "contactFormDropdown",
            "name": "Dropdown field",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": "This field is required",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "textarea",
                    "id": "options",
                    "label": "Options",
                    "default": "Option 1, Option 2, Option 3",
                    "info": "Comma separated options."
                }
            ]
        },
        {
            "type": "contactFormCheckbox",
            "name": "Checkbox field",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": "This field is required",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "checkbox",
                    "id": "checked",
                    "label": "Checked by default",
                    "default": false
                }
            ]
        }
    ]
}
{% endschema %}