<div class="page-width">
  <article >
      {% comment %}
        The article contents can be found in /sections/article-faq-content.liquid
      {% endcomment %}
  </article>
</div>

{% section 'article-faq-content' %}
<div style="margin-top:70px;">
  {% section 'faq-categories' %}
</div>
