<div>
  <article >

    {% comment %}
    The article contents can be found in /sections/article-faq-content.liquid
    {% endcomment %}

    {% section 'article-faq-content' %}

  </article>
 
  <div style="margin-top:70px;">
    {% section 'faq-categories' %}
  </div>
  
</div>

  