<div class="row">
<div class="col-12 breadcrumbs--default">
{% render 'breadcrumbs' %}
</div>
</div>
{% section 'product-page__product' %}
{% section 'api__upsell--inline' %}
{% section 'product-page__recommended' %}